html {
    font-size: 75%; 
    padding: 0px;
}
body {
    height: 100%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 1.8rem;
    background-color:black;
    background-attachment:fixed;
}
.c-site-header{
    display: flex;
    text-align: center;
    color:#157bbf;
    background-color:#FFFFC2;
    padding:10px 10px 10px 10px;
    justify-content: center;
    width: 100%;
    box-shadow: rgba(10, 10, 10, 10.4) 0px 2px 0px;
}
nav{
    margin-right:90px;
    display: flex;
}
.top{
    text-align: center;
    padding:40px 10px 10px 10px;
    font-size:40px;
    font-weight: bold;
}
#navigation{
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#4863A0;
    position: relative;
    top: 5px; left: 40px;
    list-style: none;
}
a:link { 
    text-decoration: none;
    color:#fc0a0a;
    font-weight: bold;
}

a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


.img-property{
     border-radius: 10%;
     height: auto;
     padding:1%;
     margin:auto;
     position:absolute;
     top:50%;
     left:58%;
     max-width: 75%;
     max-height: 75%;
}
main{
     max-width: 80%;
     margin:auto;  
}
.about-me{
     padding:40px;
     margin:50px;
     text-align:left;
     font-size:32px;
     color:white;
     position:absolute;
     left:10%;
     top:220px;
}
.about-the-course{
     width:500px;
     padding:90px;
     text-align:left;
     font-size:28px;
     color:white;
}
#about-the-course{
     max-width: 80%;
     position:absolute;
     left:10%;
     top:650px;
}
.video-title{
     color:white;
     padding:0 0 0 10%;
     position:absolute;
     top:138%;
     left:55%;
     font-size:40px;
}
.video{
     border-radius: 10%;
     width: 27vw;
     height:25vw;
     position:absolute;
     top:160%;
     left:64%;
}
#form{
     align-items: center;
     padding:60ch;
     margin: 30rem auto 3rem auto;
}
.comment{
     color:white;
     text-align: center;
}
textarea{
     background-color:#bae9f7;
     font-weight: bold;
     border-radius: 10%;
}
button{
     font-size:100%;
     color:#fc0a0a;
     font-weight: bold;
     text-decoration: none;
     text-align:center;
     position:absolute;
     left:45%;
     background-color:black;
     border-color:black;
}
.c-site-footer{
     text-align: center;
     color:#4863A0;
     background-color:#FFFFC2;
     padding:50px;
     font-size:20px; 
     margin:auto;
     
     
}
.b{
     padding:0 0 0 0%;
}
.c{
     padding:0 0 0 0%;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
